.cityCards {
    height: 250px;
    min-width: 300px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    flex: 1;
    opacity: 0;
    transform: translateY(30px);
    border: 3px solid rgba(225,225,225, 0%);
    transition: border 0.5s ease;
}

.cityCards:hover {
    transform: border 0.5s ease;
    border: 3px solid rgba(139, 61, 255, 50%);
}

.cityCards_true{
    animation: fadeIn 0.8s ease forwards;
}

@keyframes fadeIn {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.cityCards > div {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.cityCardsWeatherIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
}
.cityCardsHeader {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.cityCardsHeader > span {
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFF;
}

.cityCardsHeader > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cityCardsWeatherIcon > img {
    width: 36px;
    height: 36px;
    border-radius: 5px
}

.cityCardsHeader > div > span {
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(225, 225, 225, 80%);
    margin-top: 5px;
}

.cityCardsBottom {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    cursor: pointer;
}

.cityCardsBottom > img {
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}
.cityCardsHeaderWeather {
    width: 180px;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    bottom: 20px;
}

.cityCardsHeaderWeather > p  {
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: rgba(225, 225, 225, 100%);
    margin-top: 10px;
    text-align: left;
    line-height: 0;
}

.cityCardsHeaderWeather > h1 {
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: rgba(225, 225, 225, 80%);
    margin-top: 40px;
    text-align: left;
    line-height: 0;
}
.cityCardsHeaderWeather > h2 {
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(225, 225, 225, 60%);
    margin-top: 30px;
    text-align: left;
    line-height: 0;
}