.searchedCityCard {
    width: 100%;
    min-height: 60vh;
    margin-top: 20px;
    border-radius: 20px;
}


.searchedCityCard-header {
    width: 100%;
    height: fit-content
}

.searchedCityCard-content {
    margin-top: 10px;
    width: 100%;
    height: 70vh;
    border-radius: 20px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.searchedCityCard-content > div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 10%);
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cityCardContent-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cityCardContent-header span {
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(225, 225, 225, 70%);
}
.content-temp {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.content-temp > p:nth-child(1) {
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 68px;
    font-weight: 400;
    color: rgba(225, 225, 225, 100%);
    line-height: 0;
    animation: tempFade 0.8s ease forwards;
    transform: translateY(40px);
    opacity: 0;
}

@keyframes tempFade {
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}

.content-temp > p:nth-child(2) {
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(225, 225, 225, 70%);
    line-height: 0px;
    margin-top: -5px;
    animation: tempFade 0.8s ease 0.4s forwards;
    transform: translateY(20px);
    opacity: 0;
}

.content-bottom {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.content-cityName {
    width: 300px;
    height: 150px;
    background-color:  rgba(225,225,225,8%);
    border-radius: 10px;
    backdrop-filter: blur(2px);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.content-cityName > p {
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: rgba(225, 225, 225, 100%);
    line-height: 0px;
}

.content-cityName > span {
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(225, 225, 225, 50%);
    line-height: 0px;
    margin-top: 10px;
}

.content-weather {
    margin-left: 60px;
    display: flex;
}
.content-weather > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  20px 10px 20px 10px;
    border-left: 1px solid  rgba(225, 225,225, 30%);
    border-right: 1px solid rgba(225,225,225, 30%);
    animation: detailsFade 0.8s ease 0.8s forwards;
    opacity: 0;
}

@keyframes detailsFade {
    to{
        opacity: 1;
        padding: 20px;
    }
}

.content-weather > div > img {
    width: 34px;
    height: 34px;
}
.content-weather > div > span:nth-child(1), .viewMoreLoading {
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(225, 225, 225, 100%);
    line-height: 0px;
    margin-bottom: 20px;
}

.content-weather > div > span:nth-child(3) {
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(225, 225, 225, 70%);
    line-height: 0px;
    margin-top: 50px;
}

.contentViewMore-heart {
    width: 38px;
    height: 38px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}
